<h1>Editing <%= @view_name %></h1>
<form action="/<%= @view_name %>/<%%= @view_name.id %>" method="post" accept-charset="utf-8">
	<input type="hidden" id="_method" name="_method" value="put" />
	<% @html_tags.each do |key, value| %>
		<p>
			<label for="<%= key %>"><%= key.capitalize %></label><input type="<%= value %>" name="<%= key %>" value="<%%= <%= "@#{@view_name}.#{key}" %> %>" id="<%= key %>">
		</p>		
	<% end %>
	<p><input type="submit" value="Edit &rarr;"></p>
</form>