<h1>Index: <%= @view_name.capitalize %></h1>
<table border="0">
	<tr>
		<% @html_tags.each do |key, value| %>
			<th><%= key.capitalize %></th>
		<% end %>

	</tr>
	<%% <%= "@#{@view_name.downcase.pluralize}.each do |#{@view_name.downcase}|" %> %>
	<tr>
	<% @html_tags.each do |key, value| %>
		<td><%%= <%= "#{@view_name}.#{key}" %> %></td>
	<% end %>
	</tr>
	<%% end %>
</table>
<p>
  <%% if @parent_entity %>
	  <a href="/<%%= @parent_entity %>/<%%= params[:id] %>/<%= @view_name %>/new">Add new <%= @view_name.capitalize %></a>
	<%% else %>
	  <a href="/<%= @view_name %>/new">Add new <%= @view_name.capitalize %></a>
	<%% end %>
</p>