<h1>Showing <%= @view_name.capitalize %></h1>

<% @html_tags.each do |key, value| %>
	<p>
		<%= key.capitalize %>: <%%= <%= "@#{@view_name}.#{key}" %> %>
	</p>
<% end %>
<%% if @parent_entity %>
  <a href=/<%%= @parent_entity %>/<%%= params[:id] %>"/<%= @view_name %>">Back</a> | 
  <a href="/<%%= @parent_entity %>/<%%= params[:id] %>/<%= @view_name %>/<%%= params[:id] %>/edit">Edit</a>
<%% else %>
  <a href="/<%= @view_name %>">Back</a> | 
  <a href="/<%= @view_name %>/<%%= params[:id] %>/edit">Edit</a>
<%% end %>
